@use 'buttons';
@use 'keyboard';
@use 'notifications';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  color: #EAEAEA;
  background-color: #242424;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

h3 {
  font-size: 17pt;
  font-weight: 700;
  margin: 20px 0 0 -20px;
}

h4 {
  font-size: 13pt;
  font-weight: 600;
  margin: 15px 0 5px 0;
}

ul {
  margin: 0;
  
  li {
    margin: 5px 0;
  }
}

pre {
  background-color: #00000044;
  border-radius: 4px;
  display: inline-block;
  font-size: 11pt;
  margin: 0;
  padding: 5px;
}

a {
  color: white;
  
  &:hover {
    color: #EAFF00;
  }
  &:active {
    color: #EAFF00DD;
  }
}

#root {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

header {
  background-color: #121212;
  border-bottom: 2px solid #EAFF00;
  color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 20px 30px 20px 30px;
  
  #logo {
    font-family: Georgia;
    font-size: 25pt;
  }
  
  #disclaimer {
    color: #E0E0E0;
    font-size: 9pt;
  }
}

#info {
  align-content: space-between;
  justify-content: space-evenly;
  display: flex;
  padding-bottom: 25px;
  width: 80%;
  
  
  > div {
    flex: 1 0 0;
    padding: 10px;
    width: 10%;
  }
  li.pre-container {
    overflow-x: auto;
  }
}

@mixin menu {
  border: 2px solid #414141;
  border-radius: 5px;
  box-shadow: black 0px 0px 5px 0px;
  background-color: #2f2f2f;
  margin-bottom: 10px;
}

@mixin menu-header {
  background-color: #242424;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

#controls {
  display: flex;
  background-color: #212121;
  border-top: 1px solid #EAFF00;
  // border-bottom: 1px solid #EAFF00;
  border-bottom: 1px solid #434343;
  height: 175px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  
  h4 {
    @include menu-header;
    color: white;
    cursor: default;
    font-size: 15pt;
    font-weight: 600;
    padding: 10px;
    width: 100%;
  }
  
  #upload {
    @include menu;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
    
    form {
      align-content: center;
      align-items: center;
      display: flex;
      flex-flow: column;
      padding: 5px;
      
      input {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
        font-size: 12pt;
      }
    }
  }
  
  #get-changes {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-flow: column;
  }
  
  #load-defaults {
    form {
      display: flex;
      height: 50%;
      flex-flow: column;
    }
  }
}

$key-transition-time: 0.1s;
#root {
  .hotkey-row {
    background:
                var(--im1, linear-gradient(transparent, transparent)),
                var(--im2, linear-gradient(transparent, transparent)),
                var(--im3, linear-gradient(transparent, transparent)),
                var(--im4, linear-gradient(transparent, transparent)),
                var(--im5, linear-gradient(transparent, transparent)),
                var(--im6, linear-gradient(transparent, transparent)),
                var(--im7, linear-gradient(transparent, transparent)),
                var(--im8, linear-gradient(transparent, transparent)),
                var(--im9, linear-gradient(transparent, transparent)),
                linear-gradient(#2f2f2f, #2f2f2f);
    /* V "what is being hovered"-"state"-"what it applies to" */
    &.keybind-row-hover-button {
      --im2: linear-gradient(#DA767655, #DA767655);
    }
    &.keybind-row-setting-button {
      --im3: linear-gradient(#DD434355, #DD434355);
    }
    &.button-hover-passive-button {
      --im4: linear-gradient(#87E8FF55, #87E8FF55);
    }
    &.button-hover-setting-button {
      --im5: linear-gradient(#DA767655, #DA767655);
    }
    &.menu-group-select-button {
      --im6: linear-gradient(#00765555, #00765555);
    }
    &.menu-group-hover-button {
      --im7: linear-gradient(#007655AA, #007655AA);
    }
    &.hotkey-row-find {
      --im8: linear-gradient(#87E8FF55, #87E8FF55);
    }
  }
}

#menus {
  column-width: 250px;
  column-gap: 35px;
  font-family: Noto Sans;
  font-weight: 400;
  margin-top: 30px;
  min-height: 525px;
  text-align: center;
  user-select: none;
  width: 98%;
  
  .menu {
    @include menu;
    break-inside: avoid;

    h3 {
      @include menu-header;
      color: white;
      cursor: pointer;
      font-size: 15pt;
      font-weight: 600;
      padding: 10px;
    }

    .hotkey-row {
      align-items: center;
      border-bottom: 1px solid black;
      // border-top: 1px solid #505050;
      border-top: 1px solid #EAFF0030;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 3px;
      pointer-events: auto;
      
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
      
      .hotkey-uuid {
        color: darkgray;
        overflow: hidden;
        pointer-events: none;
      }

      .hotkey-text {
        color: #DFDFDF;
        padding: 5px 0 5px 5px;
        pointer-events: none;
        text-align: left;
      }

      .hotkey-code {
        background-color: #575757;
        box-shadow: black 0px 0px 8px -3px;
        border: 1px solid #6F6F6F;
        color: white;
        border-radius:3px;
        font-weight: 600;
        padding: 5px;
        pointer-events: none;
      }
    }
  }
}