@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #242424;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  height: 100px;
  padding: 20px;
  width: 100%;
}

header {
  background-color: #121212;
  border-bottom: 1px solid #EAFF00;
  color: #F0F0F0;
  font-family: Georgia;
  font-size: 25pt;
  // font-weight: 700;
  height: fit-content;
  padding: 20px 0 20px 30px;
}


#root {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

#keyboard-wrapper {
  position: sticky;
  top: 0px;
  width: fit-content;
}

.keyboardContainer {
  display: flex;
  background-color: #121212CC;
  border: 2px solid #515151;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.simple-keyboard {
  .hg-row {
    justify-content: center;
    
    .hg-button {
      font-family: Noto Sans;
      font-weight: 400;
      border: 1px solid #707070;
      box-shadow: black 0px 0px 5px 0px;
      
      &.emptySpace {
        background: none;
        border: none;
        box-shadow: none;
        pointer-events: none;
      }
      
      &.selectedButton {
        background: rgba(5, 25, 70, 0.53);
        color: white;
      }
    }
  }
  
  &.hg-theme-default {
    background: none;
    display: inline-block;
    font-weight: 600;
  }
  
  &.simple-keyboard-main {
    background: none;
    min-width: 640px;
    width: 640px;
    
    .hg-row {
      &:first-child {
        margin-bottom: 10px;
      }
      .hg-button-space {
        width: 350px;
      }
    }
  }
  
  &.simple-keyboard-arrows {
    align-self: flex-end;
    background: none;
  }
  
  &.simple-keyboard-arrows {
    .hg-button {
      align-items: center;
      display: flex;
      flex-grow: 0;
      justify-content: center;
      width: 50px;
    }
  }
  
  &.simple-keyboard-control {
    background: none;
    
    .hg-row {
      &:first-child {
        margin-bottom: 10px;
      }
      .hg-button {
        align-items: center;
        display: flex;
        flex-grow: 0;
        justify-content: center;
        width: 50px;
      }
    }
  }
  
  &.simple-keyboard-numpad {
    background: none;
    width: 160px;
    
    .hg-button {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 50px;
    }
  }
  
  &.simple-keyboard-numpadEnd {
    background: none;
    margin: 0;
    padding: 5px 5px 5px 0;
    width: 50px;
    
    .hg-button {
      align-items: center;
      justify-content: center;
      display: flex;
      
      &.hg-button-plus {
        height: 85px;
      }
      &.hg-button-enter {
        height: 85px;
      }
    }
  }
  
  &.simple-keyboard-mouse-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    
    .hg-button-mouseextra1, .hg-button-mouseextra2 {
      height: 85px;
    }
  }
  
  &.simple-keyboard-mouse-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .hg-button-wheelup {
      flex: 0 0 100px;
    }
    .hg-button-wheeldown {
      flex: 0 0 100px;
    }
  }
}

.controlArrows {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.numPad {
  align-items: flex-end;
  display: flex;
}

.mouse {
  display: flex;
  display-items: flex-end;
  text-align: center;
}

$key-transition-time: 0.1s;
#root {
  .hg-button {
    color: #EAEAEA;
    background:
                var(--im1, linear-gradient(transparent, transparent)),
                var(--im2, linear-gradient(transparent, transparent)),
                var(--im3, linear-gradient(transparent, transparent)),
                var(--im4, linear-gradient(transparent, transparent)),
                var(--im5, linear-gradient(transparent, transparent)),
                var(--im6, linear-gradient(transparent, transparent)),
                var(--im7, linear-gradient(transparent, transparent)),
                var(--im8, linear-gradient(transparent, transparent)),
                var(--im9, linear-gradient(transparent, transparent)),
                linear-gradient(#404040, #404040);
    /* V "what is being hovered"-"state"-"what it applies to" */
    &.keybind-row-hover-button {
      --im2: linear-gradient(#DA767655, #DA767655);
    }
    &.keybind-row-setting-button {
      --im3: linear-gradient(#DD434355, #DD434355);
    }
    &.button-hover-passive-button {
      cursor: default;
      --im4: linear-gradient(#87E8FF55, #87E8FF55);
    }
    &.button-hover-setting-button {
      --im5: linear-gradient(#DA767655, #DA767655);
    }
    &.menu-group-select-button {
      --im6: linear-gradient(#007655AA, #007655AA);
    }
    &.menu-group-hover-button {
      --im7: linear-gradient(#009966AA, #009966AA);
    }
    &.hotkey-row-find {
      --im8: linear-gradient(#FEFE00AA, #FEFE00AA);
    }
  }
  
  .hotkey-row {
    background:
                var(--im1, linear-gradient(transparent, transparent)),
                var(--im2, linear-gradient(transparent, transparent)),
                var(--im3, linear-gradient(transparent, transparent)),
                var(--im4, linear-gradient(transparent, transparent)),
                var(--im5, linear-gradient(transparent, transparent)),
                var(--im6, linear-gradient(transparent, transparent)),
                var(--im7, linear-gradient(transparent, transparent)),
                var(--im8, linear-gradient(transparent, transparent)),
                var(--im9, linear-gradient(transparent, transparent)),
                linear-gradient(#2f2f2f, #2f2f2f);
    /* V "what is being hovered"-"state"-"what it applies to" */
    &.keybind-row-hover-button {
      --im2: linear-gradient(#DA767655, #DA767655);
    }
    &.keybind-row-setting-button {
      --im3: linear-gradient(#DD434355, #DD434355);
    }
    &.button-hover-passive-button {
      cursor: default;
      --im4: linear-gradient(#87E8FF55, #87E8FF55);
    }
    &.button-hover-setting-button {
      --im5: linear-gradient(#DA767655, #DA767655);
    }
    &.menu-group-select-button {
      --im6: linear-gradient(#007655AA, #007655AA);
    }
    &.menu-group-hover-button {
      --im7: linear-gradient(#009966AA, #009966AA);
    }
    &.hotkey-row-find {
      --im8: linear-gradient(#87E8FF55, #87E8FF55);
    }
  }
}

#menus {
  column-width: 250px;
  column-gap: 35px;
  font-family: Noto Sans;
  font-weight: 400;
  text-align: center;
  user-select: none;
  width: 98%;
  
  .menu {
    border: 2px solid #414141;
    border-radius: 5px;
    box-shadow: black 0px 0px 5px 0px;
    margin-bottom: 10px;
    break-inside: avoid;

    h3 {
      background-color: #242424;
      border: 1px solid black;
      border-radius: 5px 5px 0 0;
      color: white;
      cursor: default;
      font-size: 15pt;
      font-weight: 600;
      margin: 0;
      padding: 10px;
    }

    .hotkey-row {
      align-items: center;
      border-bottom: 1px solid black;
      border-top: 1px solid #505050;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 3px;
      pointer-events: auto;
      
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
      
      .hotkey-uuid {
        color: darkgray;
        overflow: hidden;
        pointer-events: none;
      }

      .hotkey-text {
        color: #DFDFDF;
        padding: 5px 0 5px 5px;
        pointer-events: none;
        text-align: left;
      }

      .hotkey-code {
        background-color: #575757;
        box-shadow: black 0px 0px 8px -3px;
        border: 1px solid #6F6F6F;
        color: white;
        border-radius:3px;
        font-weight: 600;
        padding: 5px;
        pointer-events: none;
      }
    }
  }
}