body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  height: 100px;
  padding: 20px;
  width: 100%;
}

#root {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

#keyboard-wrapper {
  position: sticky;
  top: 0px;
  width: fit-content;
}

.keyboardContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.simple-keyboard {
  .hg-row {
    justify-content: center;
    
    .hg-button {
      &.emptySpace {
        background: none;
        border: none;
        box-shadow: none;
        pointer-events: none;
      }
      
      &.selectedButton {
        background: rgba(5, 25, 70, 0.53);
        color: white;
      }
    }
  }
  
  &.hg-theme-default {
    background: none;
    display: inline-block;
  }
  
  &.simple-keyboard-main {
    background: none;
    min-width: 640px;
    width: 640px;
    
    .hg-row {
      &:first-child {
        margin-bottom: 10px;
      }
      .hg-button-space {
        width: 350px;
      }
    }
  }
  
  &.simple-keyboard-arrows {
    align-self: flex-end;
    background: none;
  }
  
  &.simple-keyboard-arrows {
    .hg-button {
      align-items: center;
      display: flex;
      flex-grow: 0;
      justify-content: center;
      width: 50px;
    }
  }
  
  &.simple-keyboard-control {
    background: none;
    
    .hg-row {
      &:first-child {
        margin-bottom: 10px;
      }
      .hg-button {
        align-items: center;
        display: flex;
        flex-grow: 0;
        justify-content: center;
        width: 50px;
      }
    }
  }
  
  &.simple-keyboard-numpad {
    background: none;
    width: 160px;
    
    .hg-button {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 50px;
    }
  }
  
  &.simple-keyboard-numpadEnd {
    background: none;
    margin: 0;
    padding: 5px 5px 5px 0;
    width: 50px;
    
    .hg-button {
      align-items: center;
      justify-content: center;
      display: flex;
      
      &.hg-button-plus {
        height: 85px;
      }
      &.hg-button-enter {
        height: 85px;
      }
    }
  }
  
  &.simple-keyboard-mouse-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    
    .hg-button-mouseextra1, .hg-button-mouseextra2 {
      height: 85px;
    }
  }
  
  &.simple-keyboard-mouse-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .hg-button-wheelup {
      flex: 0 0 100px;
    }
    .hg-button-wheeldown {
      flex: 0 0 100px;
    }
  }
}

.controlArrows {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.numPad {
  align-items: flex-end;
  display: flex;
}

.mouse {
  display: flex;
  display-items: flex-end;
  text-align: center;
}

$key-transition-time: 0.1s;
#root {
  .hg-button, .hotkey-row {
    background:
                var(--im1, linear-gradient(transparent, transparent)),
                var(--im2, linear-gradient(transparent, transparent)),
                var(--im3, linear-gradient(transparent, transparent)),
                var(--im4, linear-gradient(transparent, transparent)),
                var(--im5, linear-gradient(transparent, transparent)),
                var(--im6, linear-gradient(transparent, transparent)),
                var(--im7, linear-gradient(transparent, transparent)),
                var(--im8, linear-gradient(transparent, transparent)),
                var(--im9, linear-gradient(transparent, transparent)),
                linear-gradient(white, white);
    /* V "what is being hovered"-"state"-"what it applies to" */
    &.keybind-row-hover-button {
      --im2: linear-gradient(#DA767655, #DA767655);
    }
    &.keybind-row-setting-button {
      --im3: linear-gradient(#DD434355, #DD434355);
    }
    &.button-hover-passive-button {
      cursor: default;
      --im4: linear-gradient(#87e8ff55, #87e8ff55);
    }
    &.button-hover-setting-button {
      --im5: linear-gradient(#DA767655, #DA767655);
    }
    &.menu-group-select-button {
      --im6: linear-gradient(#007655AA, #007655AA);
    }
    &.menu-group-hover-button {
      --im7: linear-gradient(#009966AA, #009966AA);
    }
    &.hotkey-row-find {
      --im8: linear-gradient(#FEFE00AA, #FEFE00AA);
    }
  }
}

#menus {
  column-width: 250px;
  text-align: center;
  user-select: none;
  width: 100%;
  
  .menu {
    border: 2px solid darkgray;
    border-radius: 3px;
    margin-bottom: 10px;
    break-inside: avoid;

    h3 {
      cursor: default;
      font-size: 15pt;
      margin: 0;
      padding: 10px;
    }

    .hotkey-row {
      align-items: center;
      border-top: 1px solid #AAAAAA;
      cursor: pointer;
      display: flex;
      padding: 3px;
      pointer-events: auto;
      justify-content: space-between;
      
      .hotkey-uuid {
        color: darkgray;
        pointer-events: none;
        overflow: hidden;
      }

      .hotkey-text {
        pointer-events: none;
      }

      .hotkey-code {
        background-color: #DADADA;
        border-radius:3px;
        padding: 4px;
        pointer-events: none;
      }
    }
  }
}